@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

body {
	// color variables
	--bg: #fcfcfc;
	--bg-panel: #ebebeb;
	--bg-links: #cac4c4;
	--color-headings: #0077ff;
	--color-links: #0077ff;
	--color-hover-links: #fff;
	--color-text: #333333;
	--color-icon: orangered;
	--rotation: 0;

	height: 100vh;
	overflow: hidden;
	display: flex;
	font-family: "Montserrat", sans-serif;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
	position: relative;
	transition: all 1s;

	&.dark {
		// color variables
		--bg: #333333;
		--bg-panel: #434343;
		--color-headings: #3694ff;
		--color-text: #b5b5b5;
		--color-icon: #fff;
		--color-links: #fff;
		--bg-links: #fff;
	}
}
.container {
	background-color: var(--bg-panel);
	margin: 1rem;
	padding: 2rem;
	border-radius: 20px;
	box-shadow: 10px 5px 5px 0px rgb(0 0 0 / 10%);

	display: grid;
	grid-template-columns: 80% auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"title switch"
		"content content"
		"text text";

	h1 {
		margin: 0;
		color: var(--color-headings);
		grid-area: title;
	}
	p {
		grid-area: text;
		color: var(--color-text);
		font-size: 1.2rem;
		margin-top: 2rem;
		width: 100%;
	}
	.image-container {
		color: var(--color-text);
		grid-area: content;
		margin-top: 3rem;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
			overflow: hidden;
			transform: scale(1);
			transition: 1s;
		}
		&:hover img {
			transform: scale(1.2);
		}
		.links li {
			list-style: none;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30px;
				width: 30px;
				margin: 8px 0;
				text-decoration: none;
				color: var(--color-headings);
				background-color: var(--bg-links);
				border-radius: 50%;
				font-size: 1.2rem;
				position: relative;

				&:hover {
					color: var(--color-hover-links);
				}
				.fab {
					position: relative;
					z-index: 200;
				}
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: var(--color-headings);
					border-radius: 50%;
					transform: scale(0);
					transition: 0.5s;
				}
				&:hover:before {
					transform: scale(1);
				}
			}
		}
	}
}
.toggle-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
// Toggle using checkbox
input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
	grid-area: switch;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	display: block;
	width: 52px;
	height: 27px;
	background: grey;
	border-radius: 100px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 3px;
		left: 3px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		transition: 0.3s;
	}
}

input:checked + label {
	background-color: var(--color-headings);

	&:after {
		left: calc(100% - 3px);
		transform: translateX(-100%);
	}
}
// when transitioning from left to right toggle circle has elongating effect
label:active:after {
	width: 25px;
}

.sun-moon-container {
	position: absolute;
	height: 200vmin;
	pointer-events: none;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(calc(var(--rotation) * 1deg));
	font-weight: 900;
	font-size: 4rem;
	color: var(--color-icon);

	transition: transform 1s;
	&:after,
	&::before {
		transition: opacity 1s;
	}
	&:before {
		position: absolute;
		content: "\f185";
		font-family: "Font Awesome 5 Free";
		top: 5%;
		opacity: 1;
	}
	&:after {
		position: absolute;
		content: "\f186";
		font-family: "Font Awesome 5 Free";
		bottom: 5%;
		opacity: 0;
		transform: rotate(180deg);
	}
}

.dark {
	.sun-moon-container:before {
		opacity: 0;
	}
	.sun-moon-container:after {
		opacity: 1;
	}
}
